# Clean and format Citi Bike data from website for use in Tableau

In [1]:
# Load Module

import pandas as pd

In [2]:
# File Paths

file_one = "Resources/2014-01-CitiBikeTripData.csv"
file_two = "Resources/2014-02-CitiBikeTripData.csv"
file_three = "Resources/2014-03-CitiBikeTripData.csv"
file_four = "Resources/2014-07-CitiBikeTripData.csv"
file_five = "Resources/2014-08-CitiBikeTripData.csv"
file_six = "Resources/2014-09-CitiBikeTripData.csv"

In [3]:
# Read Files

file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")
file_four_df = pd.read_csv(file_four, encoding="ISO-8859-1")
file_five_df = pd.read_csv(file_five, encoding="ISO-8859-1")
file_six_df = pd.read_csv(file_six, encoding="ISO-8859-1")

In [4]:
# Print File One

file_one_df

,TripDuration,StartTime,StopTime,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,UserType,BirthYear,Gender
0,471,1/1/2014 0:00,1/1/2014 0:07,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,1/1/2014 0:00,1/1/2014 0:25,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,1/1/2014 0:03,1/1/2014 0:11,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,1/1/2014 0:05,1/1/2014 0:11,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,1/1/2014 0:05,1/1/2014 0:16,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,269,1/5/2014 18:12,1/5/2014 18:17,507,E 25 St & 2 Ave,40.739126,-73.979738,504,1 Ave & E 15 St,40.732219,-73.981656,16254,Subscriber,1957,2
19995,246,1/5/2014 18:13,1/5/2014 18:17,368,Carmine St & 6 Ave,40.730386,-74.002150,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17556,Subscriber,1985,1
19996,558,1/5/2014 18:13,1/5/2014 18:22,212,W 16 St & The High Line,40.743349,-74.006818,127,Barrow St & Hudson St,40.731724,-74.006744,15679,Subscriber,1956,1
19997,576,1/5/2014 18:13,1/5/2014 18:22,498,Broadway & W 32 St,40.748549,-73.988084,297,E 15 St & 3 Ave,40.734232,-73.986923,17391,Subscriber,1978,1
19998,535,1/5/2014 18:13,1/5/2014 18:22,432,E 7 St & Avenue A,40.726218,-73.983799,285,Broadway & E 14 St,40.734546,-73.990741,18921,Subscriber,1975,1

In [5]:
# Print File Two

file_two_df

,TripDuration,StartTime,StopTime,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,UserType,BirthYear,Gender
0,382,2/1/2014 0:00,2/1/2014 0:06,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2/1/2014 0:00,2/1/2014 0:06,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2/1/2014 0:00,2/1/2014 0:10,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2/1/2014 0:00,2/1/2014 0:10,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2/1/2014 0:00,2/1/2014 0:04,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,240,2/2/2014 14:54,2/2/2014 14:58,432,E 7 St & Avenue A,40.726218,-73.983799,511,E 14 St & Avenue B,40.729387,-73.977724,20319,Subscriber,1987,1
19995,1340,2/2/2014 14:54,2/2/2014 15:16,2006,Central Park S & 6 Ave,40.765909,-73.976342,450,W 49 St & 8 Ave,40.762272,-73.987882,15240,Subscriber,1986,1
19996,588,2/2/2014 14:54,2/2/2014 15:04,500,Broadway & W 51 St,40.762288,-73.983362,173,Broadway & W 49 St,40.760647,-73.984427,16419,Customer,\N,0
19997,262,2/2/2014 14:54,2/2/2014 14:58,212,W 16 St & The High Line,40.743349,-74.006818,482,W 15 St & 7 Ave,40.739355,-73.999318,16360,Subscriber,1982,1
19998,355,2/2/2014 14:54,2/2/2014 15:00,437,Macon St & Nostrand Ave,40.680983,-73.950048,289,Monroe St & Classon Ave,40.684568,-73.958811,20054,Subscriber,1984,2

In [6]:
# Print File Three

file_three_df

,TripDuration,StartTime,StopTime,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,UserType,BirthYear,Gender
0,949,3/1/2014 0:00,3/1/2014 0:16,317,E 6 St & Avenue B,40.724537,-73.981854,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17440,Subscriber,1942,1
1,533,3/1/2014 0:00,3/1/2014 0:09,457,Broadway & W 58 St,40.766953,-73.981693,441,E 52 St & 2 Ave,40.756014,-73.967416,20855,Subscriber,1960,1
2,122,3/1/2014 0:01,3/1/2014 0:03,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,15822,Subscriber,1984,1
3,134,3/1/2014 0:01,3/1/2014 0:03,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,17793,Subscriber,1985,1
4,997,3/1/2014 0:01,3/1/2014 0:17,150,E 2 St & Avenue C,40.720874,-73.980858,461,E 20 St & 2 Ave,40.735877,-73.982050,20756,Subscriber,1977,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,366,3/3/2014 12:24,3/3/2014 12:30,351,Front St & Maiden Ln,40.705310,-74.006126,417,Barclay St & Church St,40.712912,-74.010202,20544,Subscriber,1974,1
19993,335,3/3/2014 12:24,3/3/2014 12:30,473,Rivington St & Chrystie St,40.721101,-73.991925,307,Canal St & Rutgers St,40.714275,-73.989900,16806,Subscriber,1978,1
19994,707,3/3/2014 12:24,3/3/2014 12:36,435,W 21 St & 6 Ave,40.741740,-73.994156,477,W 41 St & 8 Ave,40.756405,-73.990026,20829,Subscriber,1963,2
19995,661,3/3/2014 12:24,3/3/2014 12:35,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,466,W 25 St & 6 Ave,40.743954,-73.991449,19008,Subscriber,1982,1
19996,175,3/3/2014 12:24,3/3/2014 12:27,268,Howard St & Centre St,40.719105,-73.999733,355,Bayard St & Baxter St,40.716021,-73.999744,18431,Subscriber,1948,1

In [ ]:
# Print File four

file_four_df

In [ ]:
# Print File five

file_five_df

In [ ]:
# Print File six

file_six_df

In [7]:
# Append Files

append = file_one_df.append([file_two_df, file_three_df])

append

,TripDuration,StartTime,StopTime,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,UserType,BirthYear,Gender
0,471,1/1/2014 0:00,1/1/2014 0:07,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,1/1/2014 0:00,1/1/2014 0:25,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,1/1/2014 0:03,1/1/2014 0:11,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,1/1/2014 0:05,1/1/2014 0:11,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,1/1/2014 0:05,1/1/2014 0:16,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,366,3/3/2014 12:24,3/3/2014 12:30,351,Front St & Maiden Ln,40.705310,-74.006126,417,Barclay St & Church St,40.712912,-74.010202,20544,Subscriber,1974,1
19993,335,3/3/2014 12:24,3/3/2014 12:30,473,Rivington St & Chrystie St,40.721101,-73.991925,307,Canal St & Rutgers St,40.714275,-73.989900,16806,Subscriber,1978,1
19994,707,3/3/2014 12:24,3/3/2014 12:36,435,W 21 St & 6 Ave,40.741740,-73.994156,477,W 41 St & 8 Ave,40.756405,-73.990026,20829,Subscriber,1963,2
19995,661,3/3/2014 12:24,3/3/2014 12:35,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,466,W 25 St & 6 Ave,40.743954,-73.991449,19008,Subscriber,1982,1
19996,175,3/3/2014 12:24,3/3/2014 12:27,268,Howard St & Centre St,40.719105,-73.999733,355,Bayard St & Baxter St,40.716021,-73.999744,18431,Subscriber,1948,1

In [9]:
# Export File

# Export file as a CSV, without the Pandas index, but with the header
append.to_csv("Output/Winter2014CitiBikeData.csv", index=False, header=True)